@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@model Correspondence

<!DOCTYPE html>
<html>
<head>
</head>
<body>
   
    <div id="chat">
        @if (Model.Receiver.Id == _userManager.GetUserId(User))
        {
            <h1>Chat with @Model.Sender.Name @Model.Sender.LastName [<span class="nickname">@Model.Sender.Nick</span>]</h1>
        } else
        {
            <h1>Chat with @Model.Receiver.Name @Model.Receiver.LastName [<span class="nickname">@Model.Receiver.Nick</span>]</h1>
        }
        
        <ul id="messages" class="message-list">
            @if (Model.Messages != null)
            {
                @foreach (var message in Model.Messages)
                {
                    <li class="message">
                        @if (message.Sender.Id == _userManager.GetUserId(User))
                        {
                            <p class="user-message">You:</p>
                        }
                        else
                        {
                            <p class="sender-name">@message.Sender.Name:</p>
                        }

                        <p class="message-content">@message.Content</p>
                        <p class="message-time">Sent at: @message.SendingTime</p>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="mess-input">
        <form id="sendMessage">                      
        @*  //  <input type="hidden" id="senderInput" value="@_userManager.FindByIdAsync(_userManager.GetUserId(User))" />*@
            @if (Model.Receiver.Id == _userManager.GetUserId(User))
            {
                <input type="hidden" id="receiverInput" value="@_userManager.FindByIdAsync(_userManager.GetUserId(User))" />
            }
            else
            {
                <input type="hidden" id="receiverInput" value="@_userManager.Users.FirstOrDefault(u => u.Id == Model.ReceiverId)" />
            }                               
            <input type="text" id="messageInput" name="messageInput" placehoolder="Write message" />
            <button class="send-button" id="sendButton">Send</button>
        </form>
    </div>
    

    @section Scripts {
        <script>
            $(function () {
                $("#sendButton").click(function (e) {
                    e.preventDefault();

                    var messageInput = $("#messageInput").val();
                    var correspondenceId = @Model.Id;

                    $.ajax({
                        url: "@Url.Action("SaveMessage", "Correspondence")",
                        type: "POST",
                        data: { content: messageInput, correspondenceId: correspondenceId },
                       
                    });
                });
            });
        </script>
    }
      
  
      

            
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

</body>
</html>
