@model Correspondence

<!DOCTYPE html>
<html>
<head>
</head>
<body>
   
    <h1>Chat with @Model.Receiver.Name @Model.Receiver.LastName [@Model.Receiver.Nick]</h1>
   @* <div id="chat">
        <ul id="messages">
            @foreach (var message in Model.Messages)
            {
                <li>@Model.Sender.Name says: @message.Content</li>
            }
        </ul>
    </div>*@
    <form id="sendMessage">
        <input type="text" id="messageInput" name="messageInput" placehoolder="Write message" />
        <button id="sendButton">Send</button>
    </form>
      
  
        <script type="text/javascript">
        $(document).ready(function () {
            $('#sendMessageForm').submit(function (e) {
                e.preventDefault();
                var messageContent = $("#messageInput").val();
                var correspondenceId = @Model.Id;
                $.ajax({
                    url: '@Url.Action("SaveMessage", "Correspondence")',
                    type: 'POST',
                    data: {
                        content: messageContent,
                        correspondenceId: correspondenceId
                    },
                    success: function () {
                        console.log("Wiadomość została zapisana w bazie danych.");
                        updateMessageList();
                    },
                    error: function () {
                        console.log("Wystąpił błąd podczas zapisywania wiadomości.");
                    }
                });
            });



            </script>
      

            
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
@*
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/your-signalr-hub-url"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/your-signalr-hub-url")
            .build();

        connection.on("ReceiveMessage", function (sender, message) {
            var messageList = document.getElementById("messages");
            var li = document.createElement("li");
            li.textContent = sender + ": " + message;
            messageList.appendChild(li);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("sendButton").addEventListener("click", function (event) {
            var messageInput = document.getElementById("messageInput");
            var message = messageInput.value;
            connection.invoke("SendMessage", "@Model.OtherUserId", message).catch(function (err) {
                return console.error(err.toString());
            });
            messageInput.value = "";
            event.preventDefault();
        });
    </script>*@
</body>
</html>
