@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@model Correspondence

<!DOCTYPE html>
<html>
<head>
</head>
<body>
   
    <div id="chat">
        @if (Model.Receiver.Id == _userManager.GetUserId(User))
        {
            <h1>Chat with @Model.Sender.Name @Model.Sender.LastName [<span class="nickname">@Model.Sender.Nick</span>]</h1>
        } else
        {
            <h1>Chat with @Model.Receiver.Name @Model.Receiver.LastName [<span class="nickname">@Model.Receiver.Nick</span>]</h1>
        }
        
        <ul id="messages" class="message-list">
            @if (Model.Messages != null)
            {
                @foreach (var message in Model.Messages)
                {
                    <li class="message">                      
                        <p class="sender-name">@message.Sender.Name @message.Sender.LastName: </p>
                        <p class="message-content">@message.Content</p>
                        <p class="message-time">Sent at: @message.SendingTime</p>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="mess-input">
        <form id="sendMessage">                      
            <input type="hidden" id="senderIdInput" value="@_userManager.GetUserId(User)" />

            @if (Model.Receiver.Id == _userManager.GetUserId(User))
            {
                <input type="hidden" id="receiverIdInput" value="@Model.SenderId" />
            }
            else
            {
                <input type="hidden" id="receiverIdInput" value="@Model.ReceiverId" />
            }         
            
            <input type="text" id="messageInput" name="messageInput" placeholder="Write message" />
            <button class="send-button disabled-button" id="sendButton" disabled>Send</button>
        </form>
    </div>
    

    @section Scripts {  
        <script>
            $(function () {
                var messageInput = $("#messageInput");
                var sendButton = $("#sendButton");

                messageInput.on("input", function () {

                    if (messageInput.val().trim() !== "") {
                        sendButton.removeClass("disabled-button");
                        sendButton.prop("disabled", false);
                    } else {
                        sendButton.addClass("disabled-button");
                        sendButton.prop("disabled", true);
                    }
                });
            });
        </script>
        <script>
            $(function () {
                $("#sendButton").click(function (e) {
                    e.preventDefault();
                    $("#sendButton").addClass("disabled-button");
                    $("#sendButton").prop("disabled",true);
                    var messageInput = $("#messageInput").val();
                    if (messageInput.trim() !== "") {
                        var correspondenceId = @Model.Id;

                        $.ajax({
                            url: "@Url.Action("SaveMessage", "Correspondence")",
                            type: "POST",
                            data: { content: messageInput, correspondenceId: correspondenceId },

                        });

                        document.getElementById("messageInput").value = "";
                    }
                    
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $("html, body").animate({ scrollTop: $(document).height() }, "slow");

                $("#sendButton").click(function () {
                    $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                });
            });
        </script>
        
    }
      
  
    
    
            
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

</body>
</html>
