@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@model Correspondence

<!DOCTYPE html>
<html>
<head>
</head>
<body>
   
    <div id="chat">
        <h1>Chat with @Model.Receiver.Name @Model.Receiver.LastName [<span class="nickname">@Model.Receiver.Nick</span>]</h1>
        <ul id="messages" class="message-list">
            @if (Model.Messages != null)
            {
                @foreach (var message in Model.Messages)
                {
                    <li class="message">
                        @if (message.Sender.Id == _userManager.GetUserId(User))
                        {
                            <p class="user-message">You:</p>
                        }
                        else
                        {
                            <p class="sender-name">@message.Sender.Name:</p>
                        }

                        <p class="message-content">@message.Content</p>
                        <p class="message-time">Sent at: @message.SendingTime</p>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="mess-input">
        <form id="sendMessage">
            <input type="text" id="messageInput" name="messageInput" placehoolder="Write message" />
            <button class="send-button" id="sendButton">Send</button>
        </form>
    </div>
    

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(function () {
                $("#sendButton").click(function (e) {
                    e.preventDefault();

                    var messageInput = $("#messageInput").val();
                    var correspondenceId = @Model.Id;

                    $.ajax({
                        url: "@Url.Action("SaveMessage", "Correspondence")",
                        type: "POST",
                        data: { content: messageInput, correspondenceId: correspondenceId },
                       
                    });
                });
            });
        </script>
    }
      
  
      

            
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
@*
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/your-signalr-hub-url"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/your-signalr-hub-url")
            .build();

        connection.on("ReceiveMessage", function (sender, message) {
            var messageList = document.getElementById("messages");
            var li = document.createElement("li");
            li.textContent = sender + ": " + message;
            messageList.appendChild(li);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("sendButton").addEventListener("click", function (event) {
            var messageInput = document.getElementById("messageInput");
            var message = messageInput.value;
            connection.invoke("SendMessage", "@Model.OtherUserId", message).catch(function (err) {
                return console.error(err.toString());
            });
            messageInput.value = "";
            event.preventDefault();
        });
    </script>*@
</body>
</html>
